<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>야 여기 창업 어때?</title>
        <link href="../static/css/main.css" rel="stylesheet" type="text/css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    </head>
    <body>
        <div class="nav">
            <div class = "nav-menu-items">
                <div class="nav-menu">서비스안내</div>
                <div class="nav-menu">창업상권</div>
                <div class="nav-menu">상권분석</div>
                <div class="nav-menu">행정구역찾기</div>
            </div>
        </div>
        <div class="main-item-box">
            <div class="main-item-left">
                ㅇ
            </div>
            <div class= "main-item-right">
                ㅇ
            </div>
        </div>

        <div class="submain-item-box">
            <div class="submain-item">
                1
                <div class="submain-item-title">서비스 안내</div>
            </div>
            <div class="submain-item">
                2
                <div class="submain-item-title"><a id="link-to-business-commercial-area" href="../static/html/commercialAreaAnalysis.html">창업 상권</a></div>
            </div>
            <div class="submain-item">
                3
                <div class="submain-item-title"><a id="link-to-business-commercial-area" href="../static/html/Store_map.html">상권 분석</a></div>
            </div>
            <div class="submain-item">
                4
                <div class="submain-item-title">행정구역 찾기</div>
            </div>
        </div>
        
        <script src="../static/js/main.js"></script>
    </body>
</html>